<a href="https://colab.research.google.com/github/KHS1225/data-science-repo/blob/master/python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Strings

In [18]:
message = 'Hello World This is my String.'

len(message)
message[0]
message[1:5]
message[:5]
message[1:]

# changes are not inplace
message.capitalize()  # first upper, rest lower
message.upper()
message.lower()
message.count('l')
message.find('o')  # -1 if doesn't exist
message.replace('World', 'Universe')

dir(message)  # dir(str)
help(str)
help(str.casefold)

# 3 ways of formatting: + .format() f-strings

'Hello Universe This is my String.'

### Numerical Data

In [2]:
num = 3.14

type(num)
num // 3  # floor division - drop decimal from result
2 % 2 == 0
# += is syntaic sugar
abs(-3)
round(3.75, 1)
int('100')

100

### Data Structures

In [3]:
courses = ['History', 'Math', 'Physics', 'CompSci']

# len() and indexing
courses.append('Art')
courses.insert(0, 'English')
courses.extend(['Chemistry', 'Biology'])
courses.remove('Math')
last_element_removed = courses.pop()
courses.reverse()
courses.sort()  # alphabetical order, numbers - 1, 2, 3... ascending

numbers = list(range(10))
numbers.sort(reverse=True)  # sort by order and descending order
sorted_numbers = sorted(courses, reverse=True)
min(numbers)
max(numbers)
sum(numbers)

courses.index('Physics')
has_art = 'Art' in courses

for idx, course in enumerate(courses, start=1):
  print(f'{idx}: {course}')

course_str = '-'.join(courses)
new_list = course_str.split('-')

1: Art
2: Chemistry
3: CompSci
4: English
5: History
6: Physics

In [12]:
courses_2 = list(courses)  # if run the same cell again, courses will be a tuple
courses_2[0] = 'Advanced Art'  # changes `courses` because passing by reference

courses = tuple(courses)
courses_2 = courses

# courses_2[0] = 'Hello', throws error

cs_courses = set(courses)
art_courses = {'History', 'Math', 'Art', 'Design'}

# optimized comparisons
'History' in cs_courses
cs_courses.intersection(art_courses)  # and
cs_courses.difference(art_courses)
cs_courses.union(art_courses)  # or

{'Advanced Art',
 'Art',
 'Chemistry',
 'CompSci',
 'Design',
 'English',
 'History',
 'Math',
 'Physics'}

In [5]:
# [], list(); (), tuple(); set() - no {}; empty dictionary

In [15]:
student = {'name': 'David', 'age': 16, 'coureses': ['Math', 'Physics']}

student['name']  # keys can be anything that is hashable
student.get('phone')  # None instead of error
student.get('phone', 'No phone number')  # specify return value
student['phone'] = '111-1111'  # add key

student.update({'name': 'Bob', 'age': 20, 'phone': '555-5555'})  # courses stays same
del student['age']
removed_age_value = student.pop('age')  # value not key

len(student)
student.keys()
student.values()
student.items()

dict_items([('name', 'Bob'), ('coureses', ['Math', 'Physics']), ('phone', '555-5555')])